/* 
  Element Selectors: Selects every element on the page of matching name.
*/
body {
  background-color: salmon;
}
header {
  background-color: red;
}
main {
  background-color: chartreuse;
}
footer {
  background-color: cyan;
}
/* 
  Direct Descendent Selectors: Selects every element on the page of the latter name that is a DIRECT child of the former name.
*/
body>footer>p {
  background-color: orange
}
/* 
  Descendent Selectors: Selects every element on the page of the latter name that is a child (somewhere) of the former name.
*/
footer p {
  background-color: yellow;
}


